* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background-color: rgb(156, 229, 228);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 1%;
  background-color: rgb(95, 197, 195);
}

li, a, button, h3, h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0088a9;
  text-decoration: none;
}

.bird-logo {
  width: 200px;
}

h2 {
  cursor: pointer;
  font-size: 20px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  margin-right: auto;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: aquamarine;
}

button {
  padding: 9px 25px;
  background-color: aquamarine;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(156, 229, 228);
}

.menu {
  /* background-color:  #67edf7 */
  ;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: center; */
  /* align-content: space-between; */
}

.logo {
  border-radius: 20%;
  margin-top: 40px;
  width: 40vw;
  max-width: 400px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.about {
  width: 50vw;
  /* border-radius: ; */
  display: flex;

  align-items: center;
  margin-top: 30px;

}

.about-content {
  padding: 50px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4%;
  background-color: rgb(251, 244, 244);
  margin-right: 30px;
}


p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.profile-pic {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */

}

#profile-pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  /* margin-right: 10vmin; 
  margin-left: 10vm; */
  padding: 20px 20px;
  border: 3px solid rgb(251, 244, 244);
}

hr {
  width: 60%;
  height: 5%;
  background-image: url("freesvg.org/img/Birds-On-A-Wire-Silhouette.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* .. */
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(251, 244, 244);
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4%;
}

.blog-content {
  padding: 50px;
}

ul {
  list-style-position: inside;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 10%;
  text-align: center;
  padding: 3px 1%;
  background-color: rgb(95, 197, 195);
  color: white;
  height: 50px;
}

.social {
  margin-right: auto;
}

.copyright {
  padding-right: 10px;
}

@media (max-width: 1000px) {
  .about {
    flex-direction: column-reverse;
  }

  /* CSS Rules */

}