* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(195, 226, 225);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 1%;
  background-color: rgb(195, 226, 225);
  /* position: fixed; */
  width: 100%;
  top: 0;
}

li, header a, button, h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(39, 206, 203);
  text-decoration: none;
}


a {
  color: black;
  font-weight: 500;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.bird-logo {
  width: 200px;
}

.bird-2 {
  width: 20vw;
}


h2 {
  font-size: 20px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  margin-right: auto;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: aquamarine;
}

button {
  padding: 9px 25px;
  background-color: rgb(157, 255, 222);
  border: none;
  border-radius: 4%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 40px;
}

button:hover {
  background-color: rgb(156, 229, 228);
}



.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 60%;
  height: 5%;
  background-image: url("freesvg.org/img/Birds-On-A-Wire-Silhouette.png");
  background-repeat: no-repeat;
  background-size: 100% auto;

}

.white-space {
  display: flex;

  justify-content: center;
  /* max-width: 100%; */
  background-color: #ffffff;
  /* margin: 10px;
  padding-right: 20px; */
  height: 5vw;
}

#header3 {
  max-width: 30vw;
}

#main-content-blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 30px;

}

.card {
  /* max-width: 400px; */
  /* width: 10vw; */
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  background-color: rgb(251, 244, 244);
  margin: 1.5vw;

}

#profile-pic-header {
  width: 300px;
  height: 300px;
  max-height: 400px;

  object-fit: cover;
  margin-bottom: 20px;
}

.card__content {
  width: 100%;
  padding-left: 10px;

}

.card__date {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.card__title {

  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-bottom: 6px;
}

/* 
positioning blog */

.main-content-positioning {
  display: flex;
  justify-content: center;

}

.positioning-content, .javascript-content, .eq-content {


  background-color: rgb(251, 244, 244);
  margin-top: 100px;
  margin-bottom: 100px;
  width: 50vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
}

.positioning-content, .javascript-content, .eq-content {
  padding: 50px;

}

.positioning-content a {}



footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 10%;
  text-align: center;
  padding: 3px 1%;
  background-color: rgb(95, 197, 195);
  color: white;
  height: 50px;
  width: 100%;
  bottom: 0;


}

#relative, #fixed, #absolute {
  max-height: 200px;
}

.copyright {
  padding-right: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.social {
  margin-right: auto;
}

.positioning-content ul li, ol li {
  list-style-position: inside;
}

/* about me page  */

.about-me-container {
  display: flex;
  align-content: center;
}

.about-me-content {
  padding: 20px 20px 20px 20px;

}

.boston-image {
  width: 15vw;
}

.dog-video-container {
  display: flex;
  align-items: center;
}

/* emotional intelligence */

ol li {
  padding: 5px;
}

@media (max-width: 700px) {
  .about-me-container {
    flex-direction: column;
  }

  .boston-image {
    width: 40vw;
  }
}

@media (max-width: 700px) {
  .fa-brands {
    width: 10vw;

    .boston-image {
      width: 50vw;
    }
  }

  .footer {
    height: 18vw;
  }

  .bird-logo {
    width: 30vw;
  }
}

@media (max-width: 750px) {
  .positioning-content, .eq-content, .javascript-content {
    width: 80vw;
  }

  @media (max-width: 750px) {
    .main-content-positing {
      width: 80vw;
    }
  }
}

@media (max-width: 450px) {
  .main-content-blog, .eq-content {
    width: 80vw;
    margin: 30px;
  }


}

/* @media (max-width: 800px) {
  .card { 
    width: 20vw;
  }
} */